/* Reset do body */
	body{margin:0;padding: 0px;}
	/* 
	--> Retire as linhas de 1 à 5 caso o site já tenha algum tipo de css reset.
	*/

	#barra-brasil{
		position:relative;
		height:28px;
		width: 100%;
		top:0;
		background: #00500F;
	}

	#barra-brasil .linha-inicio{
		position: absolute;
		height: 1px;
		width: 50%;
		background: #ffb400;
		bottom:0;
	}	

	#barra-brasil .centro{
		position: relative;
		height: 28px;
		margin: 0 auto;
	}

	#barra-brasil .centro .linha-centro{
		position: absolute;
		height: 1px;
		width: 80%;
		background: #ffb400;
		bottom:0;
		float: left;
	} 

	#barra-brasil a.brasil{
		background-image: url(../img/brasil.png);
		width: 108px;
	}

	#barra-brasil a.acesso{
		background-image: url(../img/acesso.png);
		width: 161px;
	}

	#barra-brasil a{
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		background: no-repeat bottom;
		display: block;
		height: 28px;
		position: relative;
		float: right;
	}

	@media(max-width: 768px){#barra-brasil .centro{width: auto;}#barra-brasil .linha-inicio{display: none;}}
	@media(min-width: 768px) and (max-width: 992px){#barra-brasil .centro{width: 750px;}}
	@media(min-width: 992px){#barra-brasil .centro{width: 970px;}}
    @media(max-width: 320px){#barra-brasil .centro{width: 320px;}}

	/*

		Prazer meu nome é Vinicius, tudo bem? o//
		
		Este código é uma versão para sites responsivos da para barra oficial do governo
		federal do Brasil onde você encontra o oficial neste link:
		http://epwg.governoeletronico.gov.br/barra/

        Ela foi desenvolvida no IFSC (Instituto Federal de Santa Catarina) na Diretoria de 
		Tecnologia da Informação e Comunicação (DTIC) dentro da Coordenadoria de Sistemas (CSI).

		Para qualquer dúvida de implementação ou para saber mais sobre mim entre no link
		abaixo: 

		http://about.me/viniciuscardoso

		Vinicius Cardoso! ;)

	*/